{% block content %}
<h4 class="title">Omat varaukset</h4>
<div class="tile is-parent" id="bookings-own-list">
    <table class="table" id="bookings-own-table">
    </table>
</div>
<script>

function bookings_own_refresh() {
    if($('#bookings-old').is(':checked')) {
        var old = '&old=1';
    } else {
        var old = '';
    }

    if($('#bookings-current').is(':checked')) {
        var current = '&current=1';
    } else {
        var current = '';
    }

    if($('#bookings-future').is(':checked')) {
        var future = '&future=1';
    } else {
        var future = '';
    }

    if($('#bookings-waiting').is(':checked')) {
        var waiting = '&waiting=1';
    } else {
        var waiting = '';
    }

    if($('#bookings-approved').is(':checked')) {
        var approved = '&approved=1';
    } else {
        var approved = '';
    }

    if($('#bookings-denied').is(':checked')) {
        var denied = '&denied=1';
    } else {
        var denied = '';
    }

    if($('#bookings-cancelled').is(':checked')) {
        var cancelled = '&cancelled=1';
    } else {
        var cancelled = '';
    }

    $.get('/api/rooms/?bookings=1&booking_user=' + user_id + old + current + future + waiting + approved + denied + cancelled, function(data) {
        $('#bookings-own-table').html('');
        $.each(data, function(i, item) {
            var room_html = '<tr><th class="is-primary">Huone</th><th class="is-primary" colspan=5>' + item.name + '</th></tr>';
            for(var i=0; i < item.bookings.length; i++) {
                var booking = item.bookings[i];
                if(booking.user.id == user_id &&((old != '' && check_date(booking.date.date) == 1)||(current != '' && check_date(booking.date.date) == 2)||(future != '' && check_date(booking.date.date) == 3)||(old == '' && current == '' && future == ''))) {
                    room_html += '<tr>';
                    room_html += '<td>' + booking.date.name + ' ' + parse_date(booking.date.date) + '</td>';
                    room_html += '<td>' + parse_time(booking.start_time) + '</td>';
                    room_html += '<td>' + parse_time(booking.end_time) + '</td>';
                    room_html += '<td>' + approval(booking.approved) + '</td>';
                    room_html += '<td>' + booking.persons + ' hlöä</td>';
                    if(booking.approved <= 1) {
                        room_html += '<td><a href="#" onclick="bookings_own_cancel(' + booking.id + ');">Peru</a></td>';
                    } else {
                        room_html += '<td></td>';
                    }
                    room_html += '</tr>';
                }
            }
            $('#bookings-own-table').append(room_html);
        });
    });
}

bookings_own_refresh();

$("#bookings-old").change(function() {
    bookings_own_refresh();
});

$("#bookings-current").change(function() {
    bookings_own_refresh();
});

$("#bookings-future").change(function() {
    bookings_own_refresh();
});

bookings_own_refresh();

function bookings_own_cancel(id) {
    show_question({
        title: 'Peru varaus',
        text: 'Haluatko varmasti perua varauksen?',
        yes: 'Peru varaus',
        no: 'Ei',
        yes_function: function() {
            $.ajax({
                url: '/api/booking/' + id + '/',
                type: 'PATCH',
                headers: {
                    "X-CSRFToken": csrf_token
                },
                data: {
                    approved: 3
                },
                success: function(data) {
                    message_show({ type: "success", title: "Onnistui", text: "Varaus peruttu" });
                    bookings_own_refresh();
                }
            });
        },
        no_function: function() {
            bookings_own_refresh();
        }
    });
}
</script>
{% endblock %}