{% block content %}
<div class="content" style="height: calc(100% - 20px); overflow-y: clip;">
    <div class="columns">
        <div class="column is-3 tile is-parent is-vertical">
            <div class="tile is-child">
                <span class="tag is-info">Suodattimet</span>
                <div class="field">
                    <label class="checkbox">
                        <input type="checkbox" id="bookings-old">
                        Vanhat varaukset
                    </label>
                </div>
                <div class="field">
                    <label class="checkbox">
                        <input type="checkbox" id="bookings-current" value="1" selected>
                        Varaukset tänään
                    </label>
                </div>
                <div class="field">
                    <label class="checkbox">
                        <input type="checkbox" id="bookings-future">
                        Tulevat varaukset
                    </label>
                </div>
            </div>
        </div>

        <div class="column">
            {% include 'bookings-own.html' %}
            {% if user.is_room_admin %}
            {% include 'bookings-admin.html' %}
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}