{% block content %}
<h4 class="title">Hallinnoitavat varaukset</h4>
<div class="tile is-parent" id="bookings-admin-list">
    <table class="table" id="bookings-admin-table">
    </table>
</div>

<div id="person-modal" class="modal">
    <div class="modal-background"></div>
    <div class="modal-card">
        <header class="modal-card-head">
            <p class="modal-card-title">Varaajan tiedot</p>
            <button class="delete" aria-label="close" onclick="person_modal_close();"></button>
        </header>
        <section class="modal-card-body">
            <div>
                <h4 class="subtitle">Varaaja</h4>
            </div>
            <div class="field">
                <label class="label">Nimi</label>
                <p id="person-name"></p>
            </div>
            <div class="field">
                <label class="label">Osa-alue</label>
                <p id="person-department"></p>
            </div>
            <div class="field">
                <label class="label">Tiimi</label>
                <p id="person-team"></p>
            </div>
            <div class="field">
                <label class="label">Puhelinnumero</label>
                <p id="person-phone"></p>
            </div>
            <div class="field">
                <label class="label">Sähköposti</label>
                <p id="person-email"></p>
            </div>
            <div>
                <hr>
                <h4 class="subtitle">Varaus</h4>
            </div>
            <div class="field">
                <label class="label">Päivämäärä</label>
                <p id="person-date"></p>
            </div>
            <div class="field">
                <label class="label">Kello</label>
                <p id="person-time"></p>
            </div>
            <div class="field">
                <label class="label">Henkilömäärä</label>
                <p id="person-persons"></p>
            </div>
        </section>
        <footer class="modal-card-foot">
            <button class="button" onclick="person_modal_close();">Sulje</button>
        </footer>
    </div>
</div>

<script>

function bookings_admin_refresh() {
    if($('#bookings-old').is(':checked')) {
        var old = '&old=1';
    } else {
        var old = '';
    }

    if($('#bookings-current').is(':checked')) {
        var current = '&current=1';
    } else {
        var current = '';
    }

    if($('#bookings-future').is(':checked')) {
        var future = '&future=1';
    } else {
        var future = '';
    }

    $.get('/api/rooms/?admin=' + user_id + old + current + future, function(data) {
        $('#bookings-admin-table').html('');
        $.each(data, function(i, item) {
            var room_html = '<tr><th class="is-primary">Huone</th><th class="is-primary" colspan=7>' + item.name + '</th></tr>';
            for(var i=0; i < item.bookings.length; i++) {
                var booking = item.bookings[i];
                if((old != '' && check_date(booking.date.date) == 1)||(current != '' && check_date(booking.date.date) == 2)||(future != '' && check_date(booking.date.date) == 3)||(old == '' && current == '' && future == '')) {
                    room_html += '<tr>';
                    room_html += '<td><a href="#" onclick="person_modal_open(' + booking.id + ')">' + booking.user.first_name + ' ' + booking.user.last_name + '</a></td>';
                    room_html += '<td>' + booking.date.name + ' ' + parse_date(booking.date.date) + '</td>';
                    room_html += '<td>' + parse_time(booking.start_time) + '</td>';
                    room_html += '<td>' + parse_time(booking.end_time) + '</td>';
                    room_html += '<td>' + approval(booking.approved) + '</td>';
                    if(booking.approved == 0) {
                        room_html += '<td><a href="#" class="is-success" onclick="booking_approve(' + booking.id + ')">' +
                        '<span class="icon" title="Hyväksy"><i class="fas fa-check"></i></span></a>' +
                        '<a href="#" class="is-danger" onclick="booking_reject(' + booking.id + ')">' +
                        '<span class="icon" title="Hylkää"><i class="fas fa-ban"></i></span></a></td>';
                    } else {
                        room_html += '<td></td>'
                    }
                    room_html += '<td>' + booking.persons + ' hlöä</td>';
                    room_html += '</tr>';
                }
            }
            $('#bookings-admin-table').append(room_html);
        });
    });
}

bookings_admin_refresh();

function booking_approve(id) {
    $.ajax({
        url: '/api/booking/' + id + '/',
        type: 'PATCH',
        headers: {
            "X-CSRFToken": csrf_token
        },
        data: {
            approved: 1
        },
        success: function(data) {
            message_show({ type: "success", title: "Onnistui", text: "Varaus hyväksytty" });
            bookings_admin_refresh();
        }
    });
}

function booking_reject(id) {
    $.ajax({
        url: '/api/booking/' + id + '/',
        type: 'PATCH',
        headers: {
            "X-CSRFToken": csrf_token
        },
        data: {
            approved: 2
        },
        success: function(data) {
            message_show({ type: "success", title: "Onnistui", text: "Varaus hylätty" });
            bookings_admin_refresh();
        }
    });
}

function person_modal_open(booking_id) {
    $.get('/api/booking/' + booking_id + '/', function(data) {
        $('#person-name').html(data.user.first_name + ' ' + data.user.last_name);
        $('#person-department').html(data.user.department);
        $('#person-team').html(data.user.team);
        $('#person-phone').html(data.user.phone);
        $('#person-email').html(data.user.email);
        $('#person-date').html(data.date.name + " " + parse_date(data.date.date));
        $('#person-time').html(parse_time(data.start_time) + " - " + parse_time(data.end_time));
        $('#person-persons').html(data.persons + " hlöä");
        $('#person-modal').addClass('is-active');
    });
}

function person_modal_close() {
    $('#person-modal').removeClass('is-active');
}

</script>
{% endblock %}