{% block content %}
<h4 class="title">Omat varaukset</h4>
<div class="tile is-parent" id="bookings-own-list">
    <table class="table" id="bookings-own-table">
    </table>
</div>
<script>

function bookings_own_refresh() {
    if($('#bookings-old').is(':checked')) {
        var old = '&old=1';
    } else {
        var old = '';
    }

    if($('#bookings-current').is(':checked')) {
        var current = '&current=1';
    } else {
        var current = '';
    }

    if($('#bookings-future').is(':checked')) {
        var future = '&future=1';
    } else {
        var future = '';
    }

    $.get('/api/rooms/?booking_user=' + user_id + old + current + future, function(data) {
        $('#bookings-own-table').html('');
        $.each(data, function(i, item) {
            var room_html = '<tr><th class="is-primary">Huone</th><td class="is-primary" colspan=5>' + item.name + '</td></tr>';
            for(var i=0; i < item.bookings.length; i++) {
                var booking = item.bookings[i];
                if((old != '' && check_date(booking.date.date) == 1)||(current != '' && check_date(booking.date.date) == 2)||(future != '' && check_date(booking.date.date) == 3)||(old == '' && current == '' && future == '')) {
                    room_html += '<tr>';
                    room_html += '<td>' + booking.date.name + ' ' + parse_date(booking.date.date) + '</td>';
                    room_html += '<td>' + parse_time(booking.start_time) + '</td>';
                    room_html += '<td>' + parse_time(booking.end_time) + '</td>';
                    room_html += '<td>' + approval(booking.approved) + '</td>';
                    room_html += '<td>' + booking.persons + ' hlöä</td>';
                    room_html += '</tr>';
                }
            }
            $('#bookings-own-table').append(room_html);
        });
    });
}

bookings_own_refresh();

$("#bookings-old").change(function() {
    bookings_own_refresh();
});

$("#bookings-current").change(function() {
    bookings_own_refresh();
});

$("#bookings-future").change(function() {
    bookings_own_refresh();
});

bookings_own_refresh();
</script>
{% endblock %}