{% block content %}
<div class="content" style="height: calc(100% - 20px); overflow-y: clip;">
    <div class="columns">
        <div class="column is-3 tile is-parent is-vertical">
            <span class="tag is-info">Suodattimet</span>
            <div class="tile is-child">
                <div class="field">
                    <label class="checkbox">
                        <input type="checkbox" id="bookings-old">
                        Vanhat varaukset
                    </label>
                </div>
                <div class="field">
                    <label class="checkbox">
                        <input type="checkbox" id="bookings-current">
                        Varaukset tänään
                    </label>
                </div>
                <div class="field">
                    <label class="checkbox">
                        <input type="checkbox" id="bookings-future">
                        Tulevat varaukset
                    </label>
                </div>
            </div>
            <div class="tile is-child">
                <div class="field">
                    <label class="checkbox">
                        <input type="checkbox" id="bookings-waiting">
                        Odottaa hyväksyntää
                    </label>
                </div>
                <div class="field">
                    <label class="checkbox">
                        <input type="checkbox" id="bookings-approved">
                        Hyväksytty
                    </label>
                </div>
                <div class="field">
                    <label class="checkbox">
                        <input type="checkbox" id="bookings-denied">
                        Hylätyt
                    </label>
                </div>
                <div class="field">
                    <label class="checkbox">
                        <input type="checkbox" id="bookings-cancelled">
                        Perutut
                    </label>
                </div>
            </div>
        </div>

        <div class="column">
            {% include 'bookings-own.html' %}
            {% if user.is_room_admin %}
            {% include 'bookings-admin.html' %}
            {% endif %}
        </div>
    </div>
</div>

<script>
function bookings_refresh() {
    if (typeof bookings_admin_refresh !== "undefined") {
        bookings_admin_refresh();
    }
    if (typeof bookings_own_refresh !== "undefined") {
        bookings_own_refresh();
    }
}

$("#bookings-old").change(function() {
    bookings_refresh();
    settings.bookings.old = $(this).is(":checked");
    refresh_settings();
});

$("#bookings-current").change(function() {
    bookings_refresh();
    settings.bookings.current = $(this).is(":checked");
    refresh_settings();
});

$("#bookings-future").change(function() {
    bookings_refresh();
    settings.bookings.future = $(this).is(":checked");
    refresh_settings();
});

function check_date(date) {
    var today = new Date();
    var dd = today.getDate();
    var mm = today.getMonth() + 1; //January is 0!
    var yyyy = today.getFullYear();
    if (dd < 10) {
        dd = '0' + dd;
    }
    if (mm < 10) {
        mm = '0' + mm;
    }
    today = yyyy + '-' + mm + '-' + dd;
    if (date < today) {
        return 1;
    }
    if (date == today) {
        return 2;
    }
    return 3;
}

function approval(approved) {
    var approval = ["Odottaa hyväksyntää", "Hyväksytty", "Hylätty", "Peruttu"];
    return approval[approved];
}

if(settings.bookings.old) {
    $("#bookings-old").prop("checked", true);
}
if(settings.bookings.current) {
    $("#bookings-current").prop("checked", true);
}
if(settings.bookings.future) {
    $("#bookings-future").prop("checked", true);
}

</script>
{% endblock %}