{% block content %}
<div class="tile is-parent" id="bookings-admin-list">
    <h4 class="title">Hallinnoitavat varaukset</h4>
    <table class="table" id="bookings-admin-table">
    </table>
</div>
<script>

function bookings_admin_refresh() {
    $.get('/api/rooms/?admin=' + user_id, function(data) {
        console.log(data);
        $('#bookings-own-table').html('');
        $.each(data, function(i, item) {
            var room_html = '<tr><th>Huone</th><td>' + item.name + '</td></tr>';
            for(var i=0; i < item.bookings.length; i++) {
                var booking = item.bookings[i];
                room_html += '<tr>';
                room_html += '<td>' + booking.start_time + '</td>';
                room_html += '<td>' + booking.end_time + '</td>';
                room_html += '<td>' + booking.approved + '</td>';
                room_html += '<td>' + booking.persons + '</td>';
                room_html += '<td>' + booking.user.first_name + ' ' + booking.user.last_name + '</td>';
                room_html += '</tr>';
            }
        });
    });
}

bookings_admin_refresh();
</script>
{% endblock %}