{% extends "base.html" %}
{% load static %}
{% block content %}
<script>
var default_settings = {
    page: "rooms",
    bookings: {
        old: false,
        current: true,
        future: false
    },
    rooms: {
        seats: 2,
    },
}

function refresh_settings() {
    localStorage.setItem('settings', JSON.stringify(settings));
}

function compare_objects(obj1, obj2) {
    for(const [key, value] of Object.entries(obj1)) {
        if(Array.isArray(value)) {
            if(typeof obj2[key] == "undefined") {
                obj2[key] = value;
            }
        } else if(typeof value == "object") {
            obj2[key] = compare_objects(obj1[key], obj2[key]);
        } else {
            if(typeof obj2[key] == "undefined") {
                obj2[key] = value;
            }
        }
    }
    return obj2;
}

function compare_settings(settings) {
    settings = compare_objects(default_settings, settings);
    refresh_settings();
}

if(localStorage.getItem('settings') == null) {
    settings = default_settings;
    refresh_settings();
} else {
    settings = JSON.parse(localStorage.getItem('settings'));
    compare_settings(settings);
}

</script>
<div class="columns" style="height: 100%; margin: 0px;">
    <div class="column p-2 is-1 has-text-centered">
        <div class="is-boxed">
            <img src="{% static 'img/logo.png' %}" style="max-width: 60px;">
        </div>
    </div>
    <div class="column" style="width: auto;">
        {% include 'pages.html' %}
    </div>
</div>
<script>

</script>
{% endblock %}