{% block messages %}

<div class="message is-hidden" id="message-template" style="opacity: 0.7; position: fixed; top: 10px; left: calc(50% - 150px); right: calc(50% - 150px); width: 300px; z-index: 1000">
    <div class="message-header">
        <p class="message-title"></p>
        <button class="delete message-close" aria-label="close" onclick=""></button>
    </div>
    <div class="message-body">
        <p class="message-text"></p>
    </div>
</div>

<div class="modal" id="question-template">
    <div class="modal-background"></div>
    <div class="modal-card">
        <header class="modal-card-head">
            <p class="modal-card-title"></p>
        </header>
        <section class="modal-card-body">
            <div>
                <p class="question-text"></p>
            </div>
        </section>
        <footer class="modal-card-foot">
            <button class="button is-success question-yes">Kyllä</button>
            <button class="button is-danger question-no">Ei</button>
        </footer>
    </div>
</div>

<script>
message_id = 0;

function message_show(message) {
    var message_clone = $('#message-template').clone();
    var message_icon = "";

    switch(message.type) {
        case "error":
            message_clone.addClass('is-danger');
            message_icon = "fas fa-exclamation-triangle";
            break;
        case "success":
            message_clone.addClass('is-success');
            message_icon = "fas fa-check";
            break;
    }

    message_clone.removeClass('is-hidden');
    message_clone.attr('id', 'message-' + message_id);
    message_clone.find('.message-title').text(message.title);
    message_clone.find('.message-close').attr('onclick', 'message_close("' + message_id + '")');
    message_clone.find('.message-text').text(message.text);
    $('#messages').append(message_clone);
    message_id++;
    message_clone.fadeIn(300);
    setTimeout(function() {
        message_clone.fadeOut(300);
        setTimeout(function() {
            message_clone.remove();
        }, 100);
    }, 3000);
}

function message_close(id) {
    $('#message-' + id).fadeOut(300);
    setTimeout(function() {
        $('#message-' + id).remove();
    }, 100);
}

question_id = 0;
questions = [];

function show_question(question) {
    var question_clone = $('#question-template').clone();
    question_clone.addClass('is-active');
    question_clone.attr('id', 'question-' + question_id);
    question_clone.find('.modal-card-title').text(question.title);
    question_clone.find('.question-text').text(question.text);
    message_clone.find('.question-yes').attr('onclick', 'question_yes("' + question_id + '")');
    message_clone.find('.question-no').attr('onclick', 'question_no("' + question_id + '")');
    message_clone.find('.question-yes').text(question.yes);
    message_clone.find('.question-no').attr(question.no);

    question.id = question_id;
    questions.push(question);

    $('body').append(question_clone);
    question_id++;
}

function question_yes(id) {
    questions[id].yes_function();
    question_close(id);
}

function question_no(id) {
    questions[id].no_function();
    question_close(id);
}

function question_close(id) {
    $('#question-' + id).removeClass('is-active');
    setTimeout(function() {
        $('#question-' + id).remove();
        questions.splice(id, 1);
    }, 300);
}

</script>
{% endblock %}

