{% block messages %}

<div class="message is-hidden" id="message-template" style="position: fixed; top: 10px; left: calc(50% - 150px); right: calc(50% - 150px); width: 300px; z-index: 1000">
    <div class="message-header">
        <p class="message-title"></p>
    </div>
    <div class="message-body">
        <p class="message-text"></p>
    </div>
</div>

<script>
message_id = 0;

function message_show(message) {
    var message_clone = $('#message-template').clone();
    var message_icon = "";

    switch(message.type) {
        case "error":
            message_clone.addClass('is-danger');
            message_icon = "fas fa-exclamation-triangle";
            break;
        case "success":
            message_clone.addClass('is-success');
            message_icon = "fas fa-check";
            break;
    }

    message_clone.removeClass('is-hidden');
    message_clone.attr('id', 'message-' + message_id);
    message_clone.find('.message-title').text(message.title);
    message_clone.find('.message-text').text(message.text);
    $('#messages').append(message_clone);
    message_id++;
    message_clone.fadeIn(300);
    setTimeout(function() {
        message_clone.fadeOut(300);
        setTimeout(function() {
            //message_clone.remove();
        }, 100);
    }, 3000);
}
</script>
{% endblock %}

