{% block content %}
<style>
#pages-content {
    background-color: #fff;
    border-color: #dbdbdb;
    border-radius: 0 10px 10px 10px;
}
</style>
<div class="tabs is-boxed is-small" style="margin-bottom: 0px;">
    <ul>
        <li id="pages-menu-rooms" class="pages-menu">
            <a href="#" onclick="pages_select('rooms')">
                <span class="icon"><i class="fas fa-home"></i></span>
                <span>Tilat</span>
            </a>
        </li>
        <li id="pages-menu-bookings" class="pages-menu is-active">
            <a href="#" onclick="pages_select('bookings')">
                <span class="icon"><i class="fas fa-calendar"></i></span>
                <span>Varaukset</span>
            </a>
        </li>
        {% if user.is_admin %}
        <li id="pages-menu-admin" class="pages-menu is-active" style="position: absolute; right: 6rem;">
            <a href="{% url 'admin:index' %}" target="_blank">
                <span class="icon"><i class="fas fa-cog"></i></span>
                <span>Hallinta</span>
            </a>
        </li>
        {% endif %}
        <li id="pages-menu-logout" class="pages-menu is-active" style="position: absolute; right: 0.75rem;">
            <a href="{% url 'main:logout' %}">
                <span class="icon"><i class="fas fa-door-open"></i></span>
                <span>Ulos</span>
            </a>
        </li>
    </ul>
</div>
<div class="content p-4" id="pages-content" style="height: calc(100% - 60px);">
    <div id="pages-rooms" class="pages-box" style="height: 100%; display: none;">
        {% include 'rooms.html' %}
    </div>
    <div id="pages-bookings" class="pages-box" style="height: 100%;">
        {% include 'bookings.html' %}
    </div>
</div>

<script>
function pages_select(page) {
    $(".pages-menu").removeClass('is-active');
    $(".pages-box").hide();
    $("#pages-menu-" + page).addClass('is-active');
    $("#pages-" + page).show();
    settings.page = page;
    refresh_settings();
    if(page == "bookings") {
        bookings_refresh();
    }
}

function parse_time(time) {
    var parts = time.split(":");
    return parts[0] + ":" + parts[1];
}

function parse_date(date) {
    var parts = date.split("-");
    return parseInt(parts[2]) + "." + parseInt(parts[1]) + ".";
}

pages_select(settings.page);
</script>
{% endblock %}