{% block content %}
<div class="content" style="height: calc(100% - 20px); overflow-y: clip;">
    <div class="columns">
        <div class="column is-3 tile is-parent is-vertical">
            <div class="tile is-child">
                <div class="field">
                    <label class="label">Kokouspäivä</label>
                    <div class="control">
                        <select class="input is-primary" id="rooms-search-day">
                            <option value="">Valitse päivä</option>
                            {% for day in open_days %}
                            <option value="{{ day.id }}">{{ day }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>

                <div class="field">
                    <label class="label">Henkilömäärä</label>
                    <div class="control">
                        <input class="input" type="number" min="2" max="800" id="rooms-search-seats">
                    </div>
                </div>

                <button type="button" class="button is-primary" onclick="rooms_search();">Hae</button>
            </div>
            {% if user.is_staff %}
            <div class="tile is-child">
                <button type="button" class="button is-primary" onclick="rooms_modal_open();">Lisää tila</button>
            </div>
            {% endif %}
            {% if user.is_admin %}
            <div class="tile is-child">
                <button type="button" class="button is-primary" onclick="days_modal_open();">Lisää kokouspäivä</button>
            </div>
            {% endif %}
        </div>

        <div class="column">
            <div class="tile is-parent" id="rooms-list">
                <table class="table" id="rooms-table">
                </table>
            </div>
        </div>
    </div>
</div>

<div id="room-modal" class="modal">
    <div class="modal-background"></div>
    <div class="modal-card" style="width: 80vw; height: calc(100vh - 40px);">
        <header class="modal-card-head">
            <p class="modal-card-title">Kokoustilan tiedot</p>
            <button class="delete" aria-label="close" onclick="room_modal_close();"></button>
        </header>
        <section class="modal-card-body">
            <div class="columns" style="height: 100%;">
                <div class="column is-third">
                    <div class="field">
                        <span class="tag is-info">Kokoustila</span>
                        <p class="title is-5 m-2" id="room-modal-name"></p>
                    </div>
                    <div class="field">
                        <span class="tag is-info">Kapasiteetti</span>
                        <h3 class="title is-5 m-2" id="room-modal-capacity"></h3>
                    </div>
                    <div class="field">
                        <span class="tag is-info">Kuvaus</span>
                        <p id="room-modal-description" class="m-2"></p>
                    </div>
                    <div class="field">
                        <span class="tag is-info">Varustelu</span>
                        <p id="room-modal-equipment" class="m-2"></p>
                    </div>
                    <div class="field">
                        <span class="tag is-info">Vastuuhenkilöt</span>
                        <div id="room-modal-admins" class="m-2"></div>
                    </div>
                </div>
                <div class="column is-two-thirds">
                    <span class="tag is-info">Aukioloajat</span>
                    {% if user.is_room_admin %}
                    <button class="tag is-success is-hidden" id="room-modal-edit-btn" style="position: absolute; right: 0.75rem; border: 0px;" onclick="room_edit_times();">Muokkaa</button>
                    {% endif %}
                    <table class="table" id="room-times-table">
                    </table>
                </div>
            </div>
        </section>
    </div>
</div>

<div id="rooms-modal" class="modal">
    <div class="modal-background"></div>
    <div class="modal-card">
        <header class="modal-card-head">
            <p class="modal-card-title">Tilan lisääminen</p>
            <button class="delete" aria-label="close" onclick="rooms_modal_close();"></button>
        </header>
        <section class="modal-card-body">
            <div class="field">
                <label class="label">Nimi</label>
                <div class="control">
                    <input class="input" type="text" id="rooms-modal-name">
                </div>
            </div>
            <div class="field">
                <label class="label">Kapasiteetti</label>
                <div class="control">
                    <input class="input" type="number" min="2" max="800" id="rooms-modal-capacity">
                </div>
            </div>
            <div class="field">
                <label class="label">Kuvaus</label>
                <div class="control">
                    <textarea class="textarea" id="rooms-modal-description"></textarea>
                </div>
            </div>
            <div class="field">
                <label class="label">Varustelu</label>
                <div class="control">
                    <textarea class="textarea" id="rooms-modal-equipment"></textarea>
                </div>
            </div>
        </section>
        <footer class="modal-card-foot">
            <button class="button is-primary" onclick="rooms_modal_save();">Tallenna</button>
            <button class="button" onclick="rooms_modal_close();">Peruuta</button>
        </footer>
    </div>
</div>

<div id="days-modal" class="modal">
    <div class="modal-background"></div>
    <div class="modal-card">
        <header class="modal-card-head">
            <p class="modal-card-title">Kokouspäivän lisääminen</p>
            <button class="delete" aria-label="close" onclick="days_modal_close();"></button>
        </header>
        <section class="modal-card-body">
            <div class="field">
                <label class="label">Nimi</label>
                <div class="control">
                    <input class="input" type="text" id="days-modal-name">
                </div>
            </div>
            <div class="field">
                <label class="label">Päivämäärä</label>
                <div class="control">
                    <input class="input" type="date" id="days-modal-date">
                </div>
            </div>
        </section>
        <footer class="modal-card-foot">
            <button class="button is-primary" onclick="days_modal_save();">Tallenna</button>
            <button class="button" onclick="days_modal_close();">Peruuta</button>
        </footer>
    </div>
</div>

<div id="booking-modal" class="modal">
    <div class="modal-background"></div>
    <div class="modal-card">
        <header class="modal-card-head">
            <p class="modal-card-title">Kokouspaikan varaus</p>
            <button class="delete" aria-label="close" onclick="booking_modal_close();"></button>
        </header>
        <section class="modal-card-body">
            <div class="field">
                <label class="label">Kokouspaikka</label>
                <div class="control">
                    <p class="title is-4" id="booking-modal-name"></p>
                </div>
            </div>
            <div class="field">
                <label class="label">Päivä</label>
                <div class="control">
                    <p class="title is-4" id="booking-modal-day"></p>
                </div>
            </div>
            <div class="field is-half">
                <label class="label">Kokouksen alkuaika</label>
                <div class="control">
                    <input type="time" class="input" id="booking-modal-start_time">
                </div>
            </div>
            <div class="field is-half">
                <label class="label">Kokouksen päättymisaika</label>
                <div class="control">
                    <input type="time" class="input" id="booking-modal-end_time">
                </div>
            </div>
        </section>
        <footer class="modal-card-foot">
            <button class="button is-primary" onclick="booking_modal_save();">Tallenna</button>
            <button class="button" onclick="booking_modal_close();">Peruuta</button>
        </footer>
    </div>
</div>

{% csrf_token %}
<script>

const csrf_token = document.querySelector('[name="csrfmiddlewaretoken"]').value;
const user_id = {{ user.id }};

function rooms_search() {
    var day = $("#rooms-search-day").val();
    var seats = $("#rooms-search-seats").val();

    $.get("/api/rooms/?day=" + day + "&seats=" + seats, function(data) {
        $("#rooms-table").html("<tr><th>Nimi</th><th>Kapasiteetti</th><th>Kuvaus</th></tr>");
        for (var i = 0; i < data.length; i++) {
            $("#rooms-table").append("<tr><td><a href='#' onclick='room_modal_open(" + data[i].id + ")'>" + data[i].name + "</a></td><td>" + data[i].capacity + "</td><td>" + data[i].description + "</td></tr>");
        }
    });
}

rooms_search();

$("#rooms-search-day").change(function() {
    rooms_search();
});

$("#rooms-search-seats").keyup(function() {
    rooms_search();
});

var opened_room = false;

function room_modal_open(room_id) {
    var is_admin = false;
    $.get("/api/room/" + room_id, function(data) {
        opened_room = data;
        $("#room-modal-name").text(data.name);
        $("#room-modal-capacity").text(data.capacity);
        $("#room-modal-description").text(data.description);
        $("#room-modal-equipment").text(data.equipment);

        $("#room-modal-admins").html("");
        for(var i = 0; i < data.admins.length; i++) {
            var admin = data.admins[i];
            var admin_html = "<span class='tag is-primary'>" + admin.first_name + " " + admin.last_name + "</span><br/>";
            $("#room-modal-admins").append(admin_html);

            if(admin.id == user_id) {
                is_admin = true;
            }
        }

        if(is_admin) {
            $("#room-modal-edit-btn").removeClass("is-hidden");
        }

        $("#room-times-table").html("");
        for(var i = 0; i < data.open_times.length; i++) {
            var open_time = data.open_times[i];
            var date = new Date(open_time.day.date);
            var time_html = "<tr><th>" + open_time.day.name + "</th>" +
                "<th colspan='2'>" + date.getDate() + "." + (date.getMonth() + 1) + ".</th>" +
                "<td class='room-timetable-tools is-hidden'>" +
                    "<a href='#' class='icon has-text-danger' title='Poista' onclick='room_remove_day(" + open_time.id + ")'>" +
                        "<i class='fas fa-ban'></i></a></td></tr>";

            for(var j = 0; j < open_time.times.length; j++) {
                var time = open_time.times[j];
                time_html += "<tr><td><a href='#' class='icon-text has-text-success' title='Varaa' onclick='room_book(" + open_time.id + ", " + time.id + ")'>" +
                                    "<span class='icon'><i class='fas fa-calendar'></i></span>" +
                                    "<span>Varaa</span></a></td>" +
                            "<td>" + time.start_time + "</td>" +
                            "<td>" + time.end_time + "</td>" +
                            "<td class='room-timetable-tools is-hidden'>" +
                                "<a href='#' class='icon has-text-danger' title='Poista' onclick='room_remove_time(" + time.id + ")'>" +
                                    "<i class='fas fa-ban'></i></a></td></tr>";
            }
            $("#room-times-table").append(time_html);
        }
        var time_html = "<tr class='room-timetable-tools is-hidden'><td colspan='3'>Lisää aukioloaika</td></tr>" +
                        "<tr class='room-timetable-tools is-hidden'><td><select class='input is-primary' id='room-new-open-day'>" +
                        "<option value=0>Valitse päivä</option>" +
                        {% for day in open_days %}
                        "<option value='{{ day.id }}'>{{ day }}</option>" +
                        {% endfor %}
                        "</select></td>" +
                        "<td>Klo <input type='time' class='input' id='room-new-open-time'> - <input type='time' class='input' id='room-new-close-time'></td>" +
                        "<td><button class='button is-success' onclick='room_add_open_time()'>Tallenna</button></td></tr>";
        $("#room-times-table").append(time_html);
        $("#room-modal").addClass("is-active");
    });
}

function room_modal_close() {
    $("#room-modal").removeClass("is-active");
}

{% if user.is_staff %}
function rooms_modal_open() {
    $("#rooms-modal").addClass("is-active");
}

function rooms_modal_close() {
    $("#rooms-modal").removeClass("is-active");
    $("#rooms-modal input").val("");
}

function rooms_modal_save() {
    var name = $("#rooms-modal-name").val();
    var capacity = $("#rooms-modal-capacity").val();
    var description = $("#rooms-modal-description").val();
    var equipment = $("#rooms-modal-equipment").val();

    $.ajax({
        url: "/api/room/",
        type: "POST",
        data: {
            name: name,
            capacity: capacity,
            description: description,
            equipment: equipment,
        },
        headers: {
            "X-CSRFToken": csrf_token
        },
        success: function(data) {
            rooms_modal_close();
            rooms_search();
        }
    });
}

function days_modal_open() {
    $("#days-modal").addClass("is-active");
}

function days_modal_close() {
    $("#days-modal").removeClass("is-active");
    $("#days-modal input").val("");
}

function days_modal_save() {
    var name = $("#days-modal-name").val();
    var date = $("#days-modal-date").val();

    $.ajax({
        url: "/api/open_days/",
        type: "POST",
        data: {
            name: name,
            date: date,
        },
        headers: {
            "X-CSRFToken": csrf_token
        },
        success: function(data) {
            days_modal_close();
            location.reload();
        }
    });
}
{% endif %}

{% if user.is_room_admin %}
function room_edit_times() {
    if($(".room-timetable-tools").hasClass("is-hidden")) {
         $(".room-timetable-tools").removeClass("is-hidden");
    } else {
        $(".room-timetable-tools").addClass("is-hidden");
    }

}

function room_add_open_time() {
    var day_id = $("#room-new-open-day").val();
    var start_time = $("#room-new-open-time").val();
    var end_time = $("#room-new-close-time").val();

    $.ajax({
        url: "/api/room/" + room_id + "/",
        type: "PATCH",
        data: {
            day: day_id,
            start_time: start_time,
            end_time: end_time,
        },
        headers: {
            "X-CSRFToken": csrf_token
        },
        success: function(data) {
            room_modal_open(opened_room.id);
        }
    });
}

function room_remove_time(time_id) {
    $.ajax({
        url: "/api/open_times/" + time_id + "/",
        type: "DELETE",
        headers: {
            "X-CSRFToken": csrf_token
        },
        success: function(data) {
            room_modal_open(opened_room.id);
        }
    });
}

function room_remove_day(day_id) {
    $.ajax({
        url: "/api/room_times/" + day_id + "/",
        type: "DELETE",
        headers: {
            "X-CSRFToken": csrf_token
        },
        success: function(data) {
            room_modal_open(opened_room.id);
        }
    });
}
{% endif %}

function room_book(day_id, time_id) {
    console.log(opened_room);
    console.log(day_id);
    for(var i = 0; i < opened_room.open_times.length; i++) {
        if(opened_room.open_times[i].id == day_id) {
            var day = opened_room.open_times[i];
            break;
        }
    }
    console.log(day);

    for(var i = 0; i < day.times.length; i++) {
        if(day.times[i].id == time_id) {
            var time = day.times[i];
            break;
        }
    }

    $("#booking-modal-name").text(opened_room.name);
    $("#booking-modal-day").text(day.day.name);

    var start_time = new Date(time.start_time);
    var end_time = new Date(time.end_time);

    var max_start = end_time.getTime() - (1000*60*60);
    var default_end = start_time.getTime() + (1000*60*60);

    console.log(max_start);
    console.log(default_end);

    $("#booking-modal-start-time").val(time.start_time);
    $("#booking-modal-start-time").attr("min", time.start_time);
    $("#booking-modal-start-time").attr("max", max_start);

    $("#booking-modal-end-time").val(default_end);
    $("#booking-modal-end-time").attr("min", time.start_time);
    $("#booking-modal-end-time").attr("max", time.end_time);

    $("#booking-modal").addClass("is-active");
}

function booking_modal_close() {
    $("#booking-modal").removeClass("is-active");
}

</script>
{% endblock %}