{% extends "base.html" %}
{% load static %}
{% block content %}
<script>

</script>

<div class="columns" style="height: 100%; margin: 0px;">
    <div class="column p-2 is-1 has-text-centered">
        <div class="is-boxed">
            <img src="{% static 'img/logo.png' %}" style="max-width: 60px;">
        </div>
    </div>
    <div class="column" style="width: auto;">
        <div class="box content p-4" id="pages-content" style="height: calc(100% - 20px);">

        </div>
    </div>
</div>

<script>

</script>

{% endblock %}