{% extends "base.html" %}
{% load static %}
{% block content %}
<script>

</script>
<style>

ul, li {
    list-style: none;
    margin: 0;
    padding: 0;
}

#rooms-schedule {
    height: 100%;
    width: 100%;
    overflow-y: auto;
    position: relative;
}

#rooms-schedule-timeline {
    padding-top: 50px;
    position: absolute;
    width: 100%;
}

.rooms-schedule-timeline {
    position: relative;
    height: 50px;
}

.rooms-schedule-timeline:after {
    content: "";
    width: calc(100% - 60px);
    left: 60px;
    position: absolute;
    bottom: 0;
    height: 1px;
    background-color: #dbdbdb;
}

#rooms-schedule-bookings {
    width: calc(100% - 60px);
    left: 60px;
    position: absolute;
}

#rooms-schedule-bookings ul {
    display: flex;
    flex-wrap: nowrap;
}

.rooms-schedule-header {
    font-size: 14px;
    border: solid 1px black;
    margin: 5px;
}

.rooms-schedule-booking {
    position: absolute;
    width: 120px;
    font-size: 12px;
    border: 1px solid black;
}

.rooms-schedule-column {
    display: flex;
    flex-direction: column;
    flex-basis: 0;
    flex-grow: 1;
    margin-bottom: 0;
}

</style>
<div class="columns" style="height: 100%; margin: 0px;">
    <div class="column p-2 is-1 has-text-centered">
        <div class="is-boxed">
            <img src="{% static 'img/logo.png' %}" style="max-width: 60px;">
        </div>
    </div>
    <div class="column" style="width: auto;">
        <div class="box content p-4" id="pages-content" style="height: calc(100% - 20px);">
            <div class="tile">
                <div class="tile is-3">
                    <div class="field" style="width: 100%;">
                        <label>Päivä</label>
                        <div class="control">
                            <select class="input" id="rooms-status-day">
                                <option value="">Valitse päivä</option>
                                {% for day in open_days %}
                                <option value="{{ day.id }}">{{ day }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                </div>
                <div class="tile is-9">

                </div>
            </div>

            <div class="tile" style="overflow-y: auto; height: calc(100% - 60px); position: relative;">
                <div id="rooms-schedule">
                    <div id="rooms-schedule-timeline"></div>
                    <div id="rooms-schedule-bookings"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>

var rooms = null;
function rooms_search() {
    var day = $("#rooms-status-day").val();

    $.get("/api/rooms/?day=" + day, function(data) {
        rooms = data;
        console.log(rooms);
        rooms_refresh();
    });
}

$("#rooms-status-day").change(function() {
    rooms_search();
});

function rooms_refresh() {
    var start_time = null;
    var end_time = null;
    for(var i = 0; i < rooms.length; i++) {
        var room = rooms[i];
        room.open_times.forEach(function(open_time) {
            if(open_time.day.id == $("#rooms-status-day").val()) {
                for(var j = 0; j < open_time.times.length; j++) {
                    var start = open_time.times[j].start_time.split(":");
                    start = parseInt(start[0]) * 60 + parseInt(start[1]);
                    if(start_time == null || start < start_time) {
                        start_time = start;
                    }
                    var end = open_time.times[j].end_time.split(":");
                    end = parseInt(end[0]) * 60 + parseInt(end[1]);
                    if(end_time == null || end > end_time) {
                        end_time = end;
                    }
                }
            }
        });
    }

    var timeline = "<ul>";
    for(var i = start_time; i < end_time; i) {
        var hours = Math.floor(i / 60);
        timeline += "<li class='rooms-schedule-timeline'><span>" + hours + ":00<span></li>";
        timeline += "<li class='rooms-schedule-timeline'></li>";
        i += 60;
    }
    timeline += "</ul>";
    $("#rooms-schedule-timeline").html(timeline);

    var bookings = "<ul>";
    for(var i = 0; i < rooms.length; i++) {
        var room = rooms[i];
        bookings += "<li class='rooms-schedule-column is-size-6'>";
        bookings += "<div class='rooms-schedule-header notification is-primary p-1 has-text-centered'><span>" + room.name + "</span></div>";
        bookings += "<ul>";
        room.bookings.forEach(function(booking) {
            if(booking.date.id == $("#rooms-status-day").val()) {
                console.log(booking);
                var start = booking.start_time.split(":");
                start = parseInt(start[0]) * 60 + parseInt(start[1]);
                var end = booking.end_time.split(":");
                end = parseInt(end[0]) * 60 + parseInt(end[1]);
                var top = (start - start_time) * 100 / 60;
                var height = (end - start) * 100 / 60;
                bookings += "<li class='notification is-primary has-text-centered p-1 rooms-schedule-booking' style='top: " + top + "px; height: " + height + "px;' class='rooms-schedule-booking'>" + booking.user.team + "</li>";
            }
        });
        bookings += "</ul></li>";
    }
    bookings += "</ul>";
    $("#rooms-schedule-bookings").html(bookings);
}

</script>

{% endblock %}