{% extends "base.html" %}
{% load static %}
{% block content %}
<script>

</script>

<div class="columns" style="height: 100%; margin: 0px;">
    <div class="column p-2 is-1 has-text-centered">
        <div class="is-boxed">
            <img src="{% static 'img/logo.png' %}" style="max-width: 60px;">
        </div>
    </div>
    <div class="column" style="width: auto;">
        <div class="box content p-4" id="pages-content" style="height: calc(100% - 20px);">
            <div class="tile">
                <div class="tile is-4">
                    <label>Päivä</label><br>
                    <div class="control">
                        <select class="input" id="bookings-date">
                            <option value="">Valitse päivä</option>
                            {% for day in open_days %}
                            <option value="{{ day.id }}">{{ day }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>

</script>

{% endblock %}